# Ignorar ambiente virtual
.venv/
venv/

# Ignorar banco de dados local (pois ele contém seus testes)
instance/
*.db

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar configurações do VS Code
.vscode/